backend/.env
# Entorno virtual
.venv/

# Variables de entorno
.env

# Cachés de Python
__pycache__/
*.pyc

# PyCharm
.idea/

# Tests (si los usas más adelante)
.pytest_cache/

# Cobertura
.coverage
htmlcov/

# Sistema operativo
.DS_Store
Thumbs.db
